body {
      
      font-family: 'Merriweather Sans', sans-serif; color: white;
	  background-image: url("http://extramusical.github.com/mysite/images/xdrums_bg_image.jpg");
}

ul li{
    display: inline;
}

a href{
   font: white;
}