body {
      width: 800px;
      margin: 0 auto;
      font-family: 'Merriweather Sans', sans-serif; color: white;
	  background-image: url("http://extramusical.github.com/mysite/images/xdrums_bg_image.jpg");
}

img{
    float: left;
    padding: 10px;
    margin: 10px;
}

ul {
    
    float: left;
}

a {
   color: #fff;
}
