body {
      
      font-family: 'Merriweather Sans', sans-serif; color: white;
	  background-image: url("http://extramusical.github.com/mysite/images/xdrums_bg_image.jpg");
}

img{
    float: left;
}

ul li{
    display:inline;
    float: left;
}

a 
{
   color: #fff;
}

h1 {
	float: right;
}